.hero-picture {
  height:;
}

.pic {
  width: 300px;
}

body {
  display: flex;
  flex-direction: column;
  margin:0px;
}

.header {
  display: flex;
  flex-direction: row;
  background-color: #1f2937;
}

.header-logo {
  font-size: 24px;
  color: #f9faf8;
}

.header-links {
  display: flex;
  gap: 6px;
  margin-left: auto;
}

.header-links > a {
  font-size: 18px;
  color: #e5e7eb;
}

.hero {
  background-color: #1f2937;
  display: flex;
}

.hero-text-block {
  display: flex;
  flex-direction: column;
  justify-content:center;
  flex-wrap: wrap;
}

.small-hero-text {
  color: #e5e7eb;
  font-size: 18px;
}

.large-hero-text {
  font-size: 48px;
  font-weight: 800;
  color: #f9faf8;
}

.hero-button {
  color: #f9faf8;
  background-color: #3882f6;
  width:15%;
  height: 8%;
  padding: 5px;
  border-radius: 6px;
  border:none;
  margin-top: 10px;
}
